*.o
.*.o.d
.*.lo.d
*.asciidoc
*.html
build_tools/menuselect-deps
config.log
config.status
dahdi_cfg
dahdi_diag
dahdi_maint
dahdi_monitor
dahdi_scan
dahdi_speed
dahdi_test
dahdi_tool
fxotune
fxstest
genconf_parameters.sample
hdlcgen
hdlcstress
hdlctest
hdlcverify
libtonezone.a
libtonezone.so
makeopts
patgen
patlooptest
pattest
sethdlc
timertest
tonezone.lo
tonezones.txt
version.c
xpp/.depend
xpp/.octasic.depend
xpp/.perlcheck
xpp/astribank_allow
xpp/astribank_hexload
xpp/astribank_is_starting
xpp/astribank_tool
xpp/dahdi_genconf.8
xpp/dahdi_hardware.8
xpp/dahdi_registration.8
xpp/lsdahdi.8
xpp/test_parse
xpp/twinstar.8
xpp/xpp_blink.8
xpp/xpp_sync.8
zonedata.lo
