# DAHDI devices with ownership/permissions for running as non-root
SUBSYSTEM=="dahdi",		OWNER="asterisk", GROUP="asterisk", MODE="0660"

# Backward compat names: /dev/dahdi/<channo>
SUBSYSTEM=="dahdi_channels",	SYMLINK+="dahdi/%m"

# hotplug support
SUBSYSTEM=="dahdi_devices",	RUN="%E{DAHDI_TOOLS_ROOTDIR}/usr/share/dahdi/handle_device"
SUBSYSTEM=="dahdi_spans",	RUN="%E{DAHDI_TOOLS_ROOTDIR}/usr/share/dahdi/span_config"
